@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
  user-select: none;
  margin: 0 auto;
  background-color: #e8daa1 ;
  color: #141c3a;
  font-family: 'Rubik', sans-serif;
}

/*---------------*/
/*      LOGO     */
/*---------------*/
img.logo {
  margin-left: 50px;
  width: 70px;
  border-radius: 20px;
}

div.images {
  align-items: center;
  margin-top: 30px;
  display: flex;
  opacity: 0.8;
}

/*---------------*/
/*    MEDIAS     */
/*---------------*/
img.medias {
  margin-left: 15px;
  width: 30px;
  height: 30px;
}

/*---------------*/
/*    MESSAGE    */
/*---------------*/
div.welcome{
  text-align: center;
}

section h1.big-message {
  padding-top: 50px;
  font-size: 40px;
}
/*---------------*/
/*      SVG      */
/*---------------*/
div.devices {
  justify-content: center;
  margin-top: 5%;
  display: flex;
}
img.devices{
  width: 900px;
}

/*---------------*/
/*  SEPARATION   */
/*---------------*/
div.separation {
  background-color: #6E07F3;
  text-align: center;
  padding-top: 40px;
  height: 200px;
  color: beige;
}

/*---------------*/
/*   PROJECTS    */
/*---------------*/

div.project_container { display: flexbox }

div.project_box {
  box-shadow: 10px 10px 25px rgb(101, 98, 98);
  background: linear-gradient(#6E07F3, #f4d03f );
  border-radius: 15px;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  border: solid;  
  opacity: 0.9;
  height: auto;
}

/*---------------*/
/*     FOOTER    */
/*---------------*/
footer{
  background-color: #6E07F3;
  height: 300px;
}

/*---------------*/
/*   ANIMATIONS  */
/*---------------*/

div.project_box:hover{
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 0.5s;
  opacity: 1;
  letter-spacing: 0.7px;
  width: 650px;
}

img.medias:hover{
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 0.6s;

  transform: rotate(360deg);
  margin-bottom: 15px;
}

img.logo:hover{
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 0.8s;

  transform: rotate(360deg);
}

@media (max-width:800px) {
  div.images {
    margin-top: 10px;
  }
  img.devices{
    width: 100%;
  }
  div.project_box {
    width: 90%;
  }
  div.separation {
    height: 250px;
  }
  div.separation img{
    content: url("https://skillicons.dev/icons?i=html,css,js,github,raspberrypi,linux,react,python,markdown,vscode&theme=dark&perline=5");
  }
}